  @font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: regular;
  font-display: swap;
  }
@font-face {
    font-family: 'Candycane';
    src: url('../fonts/Candycane.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
@font-face {
    font-family: 'Daniel';
    src: url('../fonts/danielbd.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

  #body {
      background-image: url('/images/bg.png');
      background-position: 0px 0px;
      background-size: contain;
      background-repeat: repeat;
      background-attachment: fixed;
}
  
  #rcorners {
      border-radius: 15px;
}

.montserrat {
  font-family: Montserrat-Light, sans-serif;
}

  .Candycane {
      font-family: Candycane, sans-serif;
}

  .Daniel {
    font-family: Daniel, sans-serif;
}

  .text-purp {
    color: #B896F7;
}

  .bg-purp {
    background-color: #B896F7;
}

  .text-purp-lighter {
    color: #cbb4f5;
}

  .bg-purp-lighter {
    background-color: #cbb4f5;
}